<h1>Current weather data for {{place}}</h1>

<p>Weather description: {{weather}}</p>

<p>Forecast: {{mainForecast}}</p>

<p>The current temperature is: {{temp}}</p>

<p>Joe's windiness: {{wind}}</p>

<p>Snow: {{snow}}</p>

<p>Rain: {{rain}}</p>

<p>DT: {{dt}}</p>





